.report{
  .nav{
    align-items: center;
    border: 1px solid #d3d3d3;
    box-shadow: 2px 2px 2px #d3d3d3;
    padding: 0.4rem;
  }
  .content{
    .post-section{
      background-color: #F1C40F;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      padding: 0;
      .caption{
        padding-bottom: 8px;
        font-size: larger;
        font-weight: 600;
        padding: 4px 10px;
      }
      .post{
        min-height: 300px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        img{ width: 100%; }
        video{ cursor: pointer; }  
      }
    }
  }
  .user{
    background-color: #f4f4f4;
    padding: 2px;
    margin: 0.8em 0;
    float: right;
    cursor: pointer;
    .avatar{
      border-radius: 4px;
      width: 48px;
      padding: 8px;
      padding-left: 0;
      border-radius: 50%;
    }
  }
}