<div class="jumbotron text-center" *ngIf="noReports">
  <h5>No reported posts :)</h5>
</div>

<div *ngIf="report?.length < 1 && !noReports" class="d-flex justify-content-center">
  <img width="100%" style="max-width: 100px;" src="./assets/icons/rolling-loader.svg">
</div>

<div *ngIf="report?.length != 0">

  <div class="report" >
    <div class="nav row">
      <div class="title col-sm-6">Reported as: {{report.issue}}</div>
      <div class="actions col-sm-6 text-right">
        <button type="button" class="btn btn-primary mr-1" (click)="allow()">Allow</button>
        <button type="button" class="btn btn-warning mr-1" (click)="show='removeOptions'">Remove</button>
        <button type="button" class="btn btn-light mr-1" (click)="skip()">Skip</button>
        <button type="button" class="btn btn-danger" (click)="show='banOptions'">Remove & Ban User</button>
        <div [ngSwitch]="show">
          <ng-template [ngSwitchCase]="'removeOptions'">
            <div class="form-group my-2">
              <select class="form-control" #removeOptions>
                <option value="1" selected>Spam</option>
                <option value="2">Pornography</option>
                <option value="3">Hatred and Bullying</option>
                <option value="4">Self Harm</option>
                <option value="5">Violent</option>
                <option value="6">Illegal Activities</option>
                <option value="7">Deceptive</option>
              </select>
              <button class="btn btn-danger btn-sm mt-1" (click)="remove()">Remove</button>
            </div>
          </ng-template>
          <ng-template [ngSwitchCase]="'banOptions'">
            <div class="form-group my-2">
              <select class="form-control" #banOptions>
                <option value="1">Spam</option>
                <option value="2">Pornography</option>
                <option value="3">Hatred and Bullying</option>
                <option value="4">Self Harm</option>
                <option value="5">Violent</option>
                <option value="6">Illegal Activities</option>
                <option value="7">Deceptive</option>
              </select>
              <button class="btn btn-danger btn-sm mt-1" (click)="remove(report.user.id)">Remove & Ban</button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  
    <div class="content row mt-4">
      <!-- Post Content -->
      <div class="col-sm-9">
        <div class="post-section">
          <div class="caption">{{report.post.caption}}</div>
          <div class="post">
            <img *ngIf="!report.post.isVid;else vid" [src]="report.post.source" />
            <ng-template #vid>
              <vg-player (onPlayerReady)="onPlayerReady($event)">
                <vg-controls [vgAutohide]="true" [vgAutohideTime]="4">
                  <vg-play-pause (click)="playVideo($event, report.post.id)"></vg-play-pause>
                  <vg-mute></vg-mute>
                  <vg-fullscreen class="ml-auto"></vg-fullscreen>
                </vg-controls>
                <video #media [vgMedia]="media" [attr.id]="report.post.id" preload="none" [poster]="report.post.thumbnail" (click)="onVideoClick()">
                  <source [src]="report.post.source" type="video/mp4">
                </video>
              </vg-player>
            </ng-template>
          </div>
        </div>
        <div class="user"  routerLink="/u/{{report.user.id}}">
          <img class="avatar" [src]="report.user.avatar" />
          <span class="mr-3">Posts <strong>{{report.user.posts}}</strong></span>
          <span class="mr-3">Strikes <strong>{{report.user?.strikes?.length || 0}}</strong></span>
        </div>
      </div>
      <div class="post-details col-sm-3">
        <table width="100%">
          <tr>
            <td>reports</td>
            <td><strong>{{report.issuers?.length || '0' }} times</strong></td>
          </tr>
          <tr>
            <td>reported</td>
            <td><strong>{{report?.created }}</strong></td>
          </tr>
          <tr>
            <td>viewed</td>
            <td><strong>{{report.post?.views }} times</strong></td>
          </tr>
          <tr>
            <td>posted</td>
            <td><strong>{{report.post?.created }}</strong></td>
          </tr>
          <tr>
            <td>reporters</td>
            <td ngbDropdown>
              <button ngbDropdownToggle class="btn btn-link">show</button>
              <div ngbDropdownMenu>
                <a *ngFor="let userId of report.issuers" routerLink="/u/{{userId}}" class="dropdown-item btn btn-link">{{userId}}</a>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>