.reactions{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .reaction{
    width: auto;
    margin: 0.1em 0.65em;
    padding: 0.5em;
    transition: 0.4s ease-in-out;
    .image{ 
      border-radius: 50%; 
      width: 65px; 
      height: 65px;
      background: #d3d3d3;
    }
    .icons{
      visibility: hidden;
      text-align: center;
      margin-top: 0.4em;
      display: flex;
      justify-content: center;
    }
    &:hover > .icons > *{
      visibility: visible;
      opacity: 0.3;
      &:hover{
        opacity: 1;
      }
    }
    &:hover{
      cursor: pointer;
    }
  }
}