
  <h1>Reactions</h1>
  
  <div class="my-2">
    <a routerLink="/reactions/create">
      <button class="btn btn-sm btn-link">Create Reactions+</button>
    </a>
    <a routerLink="/reactions/positions">
      <button class="btn btn-sm btn-link">Update positions</button>
    </a>
  </div>
  
  <div *ngIf="!reactions" class="d-flex justify-content-center">
    <img width="100%" style="max-width: 100px;" src="./assets/icons/rolling-loader.svg">
  </div>

  <div class="reactions">
    <div class="reaction" *ngFor="let reaction of reactions" [id]="reaction.id">
      <div class="image">
        <img [src]="reaction.path" [alt]="reaction.name" width="100%" />
      </div>
      <div class="icons">
        <div class="delete-icon"><img (click)="remove(reaction)" src="./assets/icons/remove-circle.svg" width="24px" alt="Remove" /></div>
        <svg (click)="toggleDefault(reaction)" [ngClass]="{'active': reaction.default ? true : false }" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 24 24" width="24px" style="enable-background:new 0 0 24 24;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:none;}
          .st1{fill:#757575;}
          .st2{display:none;fill:#FFFFFF;}
          .st3{fill:#FFFFFF;}
          svg:hover .st1{fill: greenyellow;}
          .active .st1{ fill: greenyellow; }
        </style>
        <g id="Frames-24px">
          <rect y="0" class="st0" width="24" height="24"/>
        </g>
        <circle class="st1" cx="12" cy="12" r="10"/>
        <polygon class="st2" points="16.7,15.3 15.3,16.7 12,13.4 8.7,16.7 7.3,15.3 10.6,12 7.3,8.7 8.7,7.3 12,10.6 15.3,7.3 16.7,8.7 
          13.4,12 "/>
        <polygon class="st3" points="10.8,16.7 5.6,11.5 7.4,9.8 10.8,13.2 16.6,7.3 18.4,9.1 "/>
        </svg>
      </div>
    </div>
  </div>