:host{
  z-index: 2;
}

.connect{
  margin-bottom: 1rem;
  background-color: #ffebee;
  padding: 1rem;
  .so-btns{
    display: flex;
    border-radius: 50%;
    justify-content: center;
    &>*{
      border-radius: 50%;
      width: 34px;
      height: 34px;
      margin-right: 24px;
      padding: 8px;
      &:hover{ cursor: pointer; }
      img{ width: 100%; vertical-align: initial; }
    }
    .fab{
      background-color: #3B5998;
      &:hover{ background-color: darken(#3B5998, 10%) }
    }
    .tit{
      background-color: #42a5f5;
      &:hover{ background-color: darken(#42a5f5, 10%) }
    }
    .ins{
      background-color: #b388ff;
      &:hover{ background-color: darken(#b388ff, 10%) }
    }
  }
}

.gray-label{
  color: #999999;
  font-size: 0.75rem;
}

.meme-container{
  margin: auto;
  margin-bottom: 20px;
}

.load-post-when-in-view{
  position: absolute;
  bottom: 10%;
  // 2 Pages
  height: calc(2*100vh);
}