<div class="text-center connect">
  <h5>Join us now</h5>
  <h6 style="font-family: Arial, Helvetica, sans-serif;">You need dis ( ͡° ͜ʖ ͡°)</h6>
  <div class="so-btns">
    <div class="fab">
      <a href="https://fb.com/dopachan/" target="_blank">
        <img src="./assets/icons/facebook.png" alt="fb">
      </a>
    </div>
    <div class="tit">
      <a href="https://twitter.com/dopachan" target="_blank">
        <img src="./assets/icons/twitter.png" alt="fb">
      </a>
    </div>
    <div class="ins">
      <a href="https://www.instagram.com/_dopachan/" target="_blank">
        <img src="./assets/icons/instagram.png" alt="fb">
      </a>
    </div>
  </div>
</div>

<dp-post *ngFor="let post of posts"
  [post]="post"
  [link]="true"
  [reactions]="reactions"
  [limitHeight]="true"
></dp-post>

<div class="load-post" *ngIf="showMorePosts">
  <div class="title"></div>
  <div class="post"></div>
  <div class="reacts">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="comments">
    <div class="mb-2">
      <div class="avatar"></div>
      <div class="comment">
        <div class="first"></div>
        <div class="second"></div>
      </div>
    </div>
    <div class="mb-2">
      <div class="avatar"></div>
      <div class="comment">
        <div class="first"></div>
        <div class="second"></div>
      </div>
    </div>
  </div>
</div>
  
<h5 *ngIf="!showMorePosts" class="text-center text-muted my-2 jumbotron">No more memes</h5>
<div *ngIf="showMorePosts" class="load-post-when-in-view" inViewport (inViewportAction)="loadMorePosts($event)"></div>