<div class="modal-header">
  <h5 class="modal-title">Report</h5>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row mx-3 my-0">
    <h6>Choosing the right reason help us process the report as soon as possible.</h6>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="text-danger mb-3" *ngIf="form.status == 'INVALID' || form.controls.reason.errors?.required">Please select an option.</div>
      <div class="p-2 my-2 mx-2" style="background-color: #f4f4f4;">
        <div *ngFor="let reason of reasons" class="custom-control custom-radio my-2">
          <input type="radio" 
            [id]="'id'+reason.value" 
            formControlName="reason" 
            class="custom-control-input" 
            [value]="reason.value"
            [checked]="form.controls.reason.value == reason.value ? 'checked' : false"
            >
          <label class="custom-control-label" [for]="'id'+reason.value">{{reason.reason}}</label>
        </div>
      </div>
      <small class="text-muted font-italic mx-2">Note: If you report someone's post, Dopachan doesn't tell them who reported it.</small>
      <div class="row">
        <button class="btn btn-danger m-auto">Report</button>
      </div>
    </form>
  </div>
</div>