<h3 class="row col-12">Users</h3>
<form class="my-4" [formGroup]="searchForm" (ngSubmit)="formSubmit()">
  <div class=" row col-12 form-inline mb-2">
    <div class="form-group mr-2">
      <input class="form-control" type="search" formControlName="search" placeholder="Search by email or name" />
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-dark" value="Search"/>
    </div>
  </div>
  <div class="row col-12 py-2">
    <div class="custom-control custom-checkbox col-auto">
      <input type="checkbox" class="custom-control-input" formControlName="fullAdmins" id="full-admin" (change)="fullAdmins = !fullAdmins" [checked]="fullAdmins == 'true' ? true : ''">
      <label class="custom-control-label" for="full-admin">Full Admins</label>
    </div>
    <div class="custom-control custom-checkbox col-auto">
      <input type="checkbox" class="custom-control-input" formControlName="seniorAdmins" id="senior-admin" (change)="seniorAdmins = !seniorAdmins" [checked]="seniorAdmins == 'true' ? true : ''">
      <label class="custom-control-label" for="senior-admin">Senior Admins</label>
    </div>
    <div class="custom-control custom-checkbox col-auto">
      <input type="checkbox" class="custom-control-input" formControlName="admins" id="admin" (change)="admins = !admins" [checked]="admins == 'true' ? true : ''">
      <label class="custom-control-label" for="admin">Admins</label>
    </div>
    <div class="custom-control custom-checkbox col-auto">
      <input type="checkbox" class="custom-control-input" formControlName="moderators" id="moderators" (change)="moderators = !moderators" [checked]="moderators == 'true' ? true : ''">
      <label class="custom-control-label" for="moderators">Moderators</label>
    </div>
    <div class="custom-control custom-checkbox col-auto">
      <input type="checkbox" class="custom-control-input" formControlName="users" id="users" (change)="usersParam = !usersParam" [checked]="usersParam == 'true' ? true : ''">
      <label class="custom-control-label" for="users">Users</label>
    </div>
  </div>
</form>

<div class="row col-12 table-responsive">
  <table class="table" *ngIf="users && users?.length > 0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Posts</th>
        <th>Role</th>
        <th>Account</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" [ngClass]="{'table-warning': user?.banned, 'table-secondary': user?.deactivated}">
        <td><a [routerLink]="['/u', user.id]" target="_blank">{{user.display_name}}</a></td>
        <td>{{user.email}}</td>
        <td>{{user.post_count}}</td>
        <td [ngSwitch]="user.role">
          <span *ngSwitchCase="'100'">Full Admin</span>
          <span *ngSwitchCase="'80'">Senior Admin</span>
          <span *ngSwitchCase="'60'">Admin</span>
          <span *ngSwitchCase="'20'">Moderator</span>
          <span *ngSwitchCase="'1'">User</span>
        </td>
        <td>
          <span *ngIf="user.banned" style="cursor: pointer;">
            <span [ngbTooltip]="banReason">Banned</span>
            <ng-template #banReason>
              <li *ngFor="let ban of user.banned" [ngSwitch]="ban.reason" style="list-style: none;">
                <span *ngSwitchCase="1">Spam</span>
                <span *ngSwitchCase="2">Pornography</span>
                <span *ngSwitchCase="3">Hatred and bullying</span>
                <span *ngSwitchCase="4">Self-Harm</span>
                <span *ngSwitchCase="5">Violent, gory and harmful content</span>
                <span *ngSwitchCase="6">Illegal activities e.g. Drug Uses</span>
                <span *ngSwitchCase="7">Deceptive content</span>
                <span *ngSwitchCase="8">Copyright and trademark infringement</span>
                <span *ngSwitchCase="9">I just don't like this user</span>
              </li>
            </ng-template>
          </span>
          <span *ngIf="user.deactivated">Deactivated</span>
          <span *ngIf="!user.deactivated && !user.banned">Active</span>
        </td>
      </tr>
    </tbody>
  </table>
  <h5 class="text-center" *ngIf="users?.length == 0">No users found</h5>
</div>
