@import "~bootstrap/scss/_functions.scss";
@import "../../../variables"; 

.create-post{
  .drop-zone{
    position: relative;
    overflow: hidden;
    border: 3px dashed;
    border-radius: 5px;
    background-color: #ECEFF1;
    text-align: center;
    transition: background-color 0.2s;
    cursor: pointer;
    &.activated{ background-color: #F5D657; }
    &.error{ background-color:lighten(orangered, 10%); }
    & *{ pointer-events: none; }
    .error{ color: #fff; }
  }
}

#preview{
  position: relative;
}