<div class="create-post">
  <div class="drop-zone"
    (click)="clickedDropzone($event)" 
    (dragenter)="dragEnter($event)"
    (dragleave)="dragLeave($event)"
    (dragover)="onDragover($event)"
    (drop)="droppedFile($event)"
    (mouseenter)="mouseEnterDropzone()"
    (mouseleave)="mouseLeaveDropzone()"
    [ngClass]="{'activated': activatedDropzone, 'error': error, 'd-none': uploadInProgress}">
    <form enctype="multipart/form-data">
      <input 
        id="dropzoneInput" 
        class="off-screen" 
        type="file" 
        name="file"
        accept="image/png, image/jpg, image/jpeg, video/mp4"
        (change)="clickedInput($event)" 
        #dropzoneInput />
      <img src="assets/images/cloud-upload.png" width="55%" alt="Upload" />
      <h5 style="margin: 0px;">Drag & drop or click here</h5>
      <p class="info">to upload your image</p>
    </form>
    <div class="error" *ngIf="error">{{error}}</div>
  </div>
  <div id="preview" [ngClass]="{'d-none': !uploadInProgress}">
    <div style="position: absolute; bottom: 0; width: 100%; z-index: 1;">
      <ngb-progressbar 
        type="warning" 
        [striped]="uploadProgress == 100" [animated]="uploadProgress == 100"
        value="{{uploadProgress}}" 
        height="1.5rem">{{(uploadProgress == 100 ? "Finalizing" : uploadProgress+"%")}}</ngb-progressbar>
    </div>
    <img id="preview-image"  class="blur bg-dark" src="" width="100%" #previewImage />
  </div>
  <div [ngClass]="{'d-none': uploadInProgress}">
    <div class="row splitter">
      <p>Or</p>
    </div>
    <form action="#">
      <div class="form-group">
          <input 
            type="url" 
            name="fileUrl" 
            class="form-control" 
            placeholder="https://imgur.com/image.jpg"
            (change)="verifyUrl()"
            required
            autocomplete="off"
            #urlInput>
        </div>
    </form>
  </div>
</div>