<div>
  <form>
    <div class="form-group">
      <input class="form-control" #caption type="text" name="caption" placeholder="Funny title..." />
    </div>
  </form>

  <div [ngClass]="!file ? 'loading-preview' : ''"></div>
  <ng-template #vid>
    <vg-player>
      <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
        <source src="{{file}}" type="video/mp4">
      </video>
    </vg-player>
  </ng-template>
  <img *ngIf="!isVid; else vid" src="{{file}}" alt="" width="100%" />
  
  <div class="reactions">
    <div class="reaction"
      *ngFor="let slot of numberOfSlots; index as i"
       (click)="openReactions(i)"
       draggable="true">
      <span class="selection"></span>
      <div *ngIf="selectedReactions">
        <img [src]="selectedReactions[i]?.path" [alt]="selectedReactions[i].name" />
      </div>
      <div class="remove">Remove</div>
    </div>
  </div>

  <div class="form-group">
    <label for="categories-input">Category</label>
    <select id="categories-input" [(ngModel)]="category" (ngModelChange)="category = $event" class="form-control">
      <option value="">Select Section</option>
      <option value="{{cate}}" *ngFor="let cate of categoryList">
        <img width="25px" class="mr-1 rounded" src="./assets/images/sections/{{cate | lowercase}}.jpg" alt="{{section | lowercase}}">
        {{cate}}
      </option>
    </select>
    <div class="text-danger" *ngIf="category == ''">{{categoryError}}</div>
  </div>

  <create-post-tags (tags)="getTags($event)"></create-post-tags>
  <div class="text-danger text-center" *ngIf="tagsError">{{tagsError}}</div>

  <div class="custom-control custom-checkbox my-1 mr-sm-2">
    <input type="checkbox" class="custom-control-input" id="nsfw" #checkboxNsfw>
    <label class="custom-control-label" for="nsfw">Content is NSFW?</label>
  </div>

  <div class="form-group my-2 d-flex justify-content-center">
    <button class="btn btn-sm btn-outline-primary" (click)="submit()">Create</button>
  </div>

  <div id="select-reactions" *ngIf="activatedSelection">
    <app-reactions-select
      [index]="selectedIndex" 
      [toRemoveReactions]="selectedReactions"
      [reactions]="reactions"
      (onSelect)="reactionSelected($event)"
    ></app-reactions-select>
  </div>
</div>
