@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../variables";
@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";

.reactions{
  padding: 20px 0;
  display: flex;
  .reaction{
    background-color: #d6d6d6;
    cursor: pointer;
    margin: 0 4px;
    border-radius: 50%;
    width: 100%;
    max-width: 52px;
    transition: all 0.2s ease-in-out;
    &:hover{
      background-color: darken(#d6d6d6, 10%)
    }
    img{
      width: 100%;
      height: 100%;
      max-width: 52px;
      border: 1px solid #d6d6d6;
      border-radius: 50%;
      display: inline-block;
    }
    .remove{
      position: absolute;
      border-radius: 16px;
      width: 50px;
      background: #d6d6d6;
      font-size: 10px;
      text-align: center;
      margin: 4px auto;
      opacity: 0;
    }
    &-random{
      background-image: url("/assets/images/wheel.png");
      background-size: contain;
      &::after{
        content: "?";
        color: #fff;
        position: absolute;
        top: 0%;
        left: 37%;
        font-size: 36px;
        font-weight: 900;
        text-shadow: #000 2px 2px 5px;
      }
    }
  }
}

#select-reactions{
  position: absolute;
  bottom: 0;
  left: -8px;
  height: 320px;
}

#categories-input{
  option{
    padding: 0.5em 1em;
    border-bottom: 1px solid #d3d3d3;
    font-weight: 600;
  }  
}

@include media-breakpoint-up(sm){
  #select-reactions{
   height: 500px;
  }
}

.loading-preview{
  background-color: #d6d6d6;
  min-height: 400px;
  width: 100%;
}

vg-player video{
  max-height: 600px;
}