.tabs{ 
  display: flex;
  font-size: 21px;
  flex: 1;
  background-color: #f4f4f4;
  font-weight: 600;
  .tab{
    cursor: pointer;
    padding: 20px;
    text-align: center;
    &.active{
      background-color: #fff;
    }
  }
}

.f-btn, .g-btn{
  background-size: 42px;
  background-repeat: no-repeat;
  background-position: left center; 
  padding: 15px;
  text-indent: 32px;
  font-weight: 600;
  color: #fff;
  border-radius: 2px;
  transition: 0.1s ease-in-out;
}

.f-btn{
  background-color: #48629B;
  background-image: url("/assets/icons/fb.png");
  &:hover{
    background-color: darken(#48629B, 10%);
  }
  &:active{
    background-image: url("/assets/icons/fb.png") !important;
  }
}

.g-btn{
  background-color: #DC4B38;
  background-image: url("/assets/icons/goog.png");
  &:hover{
    background-color: darken(#DC4B38, 10%);
  }
  &:active{
    background-image: url("/assets/icons/goog.png") !important;
  }
}

.h-stroke{
  position:relative;
  text-align: center;
  color: #999999;
  font-size: 13px;
}
.h-stroke:before {
  content: "";
  display: block;
  border-top: solid 1px #999999;
  width: 94%;
  height: 2px;
  position: absolute;
  top: 50%;
  z-index: 0;
}
.h-stroke span {
  background: #fff;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.label-light{
  font-size: 12px; 
  color: #999999;
}