<div class="tabs">
  <div class="tab col-6" (click)="toggleLoginTab()" [ngClass]="{active: activeTab == 'login' ? true : false }">Login</div>
  <div class="tab col-6" (click)="toggleRegisterTab()" [ngClass]="{active: activeTab == 'register' ? true : false }">Register</div>
</div>
<div class="modal-body">
  <div class="row my-5">
    <div class="col-12 d-flex justify-content-between flex-wrap">
      <div class="col-12 col-sm-6 px-1 mb-2">
        <button href="#" class="btn f-btn col-12 flex-start" (click)="loginFB()" [disabled]="!fbInit ? 'true': ''" >Login with Facebook</button>
      </div>
      <div class="col-12 col-sm-6 px-1 mb-2">
        <button href="#" class="btn g-btn col-12 flex-end" #googleBtn [disabled]="!googInit ? 'true': ''" >Login with Google+</button>
      </div>
    </div>
    <div class="col-12 text-center text-danger" *ngIf="!googInit || !fbInit">Disable Adblock/trackers to login using social media</div>
  </div>

  <div class="row" style="overflow:hidden;">
    <h6 class="h-stroke col-12"><span>OR EMAIL</span></h6>
  </div>
  <div *ngIf="activeTab == 'login'">
    <form class="col-12 col-sm-8" 
      [formGroup]="signInForm" 
      (ngSubmit)="submitSignInForm()" 
      style="margin:auto;">
      <div *ngIf="SignInglobalError" class="text-danger text-center my-3">{{SignInglobalError}}</div>
      <div class="form-group">
        <label>Email Address</label>
        <input type="email" formControlName="email" class="form-control" />
        <div *ngIf="signInForm.controls.email.errors && (signInForm.controls.email.dirty || signInForm.controls.email.touched)">
          <span class="text-danger">Please enter a valid email</span>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control" #loginPassword />
        <div *ngIf="signInForm.controls.password.errors && (signInForm.controls.password.dirty || signInForm.controls.password.touched)">
          <span class="text-danger">Please enter a password</span>
        </div>
        <div class="text-right"><a href="#" class="label-light">Forgot password?</a></div>
      </div>
      <button class="btn btn-primary col-12" [disabled]="signInForm.status == 'INVALID'">Signin</button>
    </form>
  </div>

  <div *ngIf="activeTab == 'register'">
    <form class="col-12 col-sm-8" 
      [formGroup]="registerForm" 
      (ngSubmit)="submitRegisterForm()" 
      style="margin:auto;">
      <div *ngIf="SignUpglobalError" class="text-danger text-center my-3">{{SignUpglobalError}}</div>
      <div class="form-group">
        <div class="form-group">
            <label>Full Name</label>
            <input type="text" formControlName="name" class="form-control" />
            <div *ngIf="registerForm.controls.name.errors && (registerForm.controls.name.dirty || registerForm.controls.name.touched)">
              <span *ngIf="registerForm.controls.password.errors.required" class="text-danger">Please enter your full name</span>
              <span *ngIf="registerForm.controls.password.errors.minlength" class="text-danger">Atleast 3 characters required</span>
            </div>
          </div>
        <label>Email Address</label>
        <input type="email" formControlName="email" class="form-control" />
        <div *ngIf="registerForm.controls.email.errors && (registerForm.controls.email.dirty || registerForm.controls.email.touched)">
          <span class="text-danger">Please enter email</span>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control" />
        <div *ngIf="registerForm.controls.password.errors && (registerForm.controls.password.dirty || registerForm.controls.password.touched)">
          <span *ngIf="registerForm.controls.password.errors.required" class="text-danger">Please enter a password</span>
          <span *ngIf="registerForm.controls.password.errors.minlength" class="text-danger">Atleast 6 characters required</span>
        </div>
      </div>
      <button class="btn btn-primary col-12" [disabled]="registerForm.status == 'INVALID'">Create Account</button>
    </form>
  </div>

  <div class=" mt-4 mb-2 text-center" style="font-size: 12px;">
    By continuing, you agree to Dopachan's <a href="http://about.dopachan.com/#terms-and-conditions" target="_blank">Terms of Service</a> and  <a href="http://about.dopachan.com/#privacy-policy" target="_blank">Privacy Policy</a>
  </div>
</div>
