<div class="x">
  <div class="m-2 p-4 text-center">
    <h6 class="mx-4"><strong>404 Page not found</strong></h6>
    <div class="wrapper">
      <h1><strong>DO YU KNOW</strong></h1>
      <img class="my-4" width="100%" src="./assets/images/ugandan-knuckles.png" />
      <h1><strong>DA WAE?</strong></h1>
    </div>
  
    <div class="my-4">
      <button class="btn btn-outline-success" [routerLink]="['/']">Dis is da wae</button>
    </div>
  </div>
</div>