@import "../../../../../node_modules/bootstrap/scss/functions";
@import '../../../../variables'; 

form{
  background-color: $gray-100;
  border-radius: 6px;
  margin: 1rem;
  flex-direction: column;
  position: relative;
  transition: 0.1s ease-in;
  .preview{
    width: 56px;
    height: 56px;
    border: 4px solid transparent;
    border-radius: 50%;
  }
  .upload-complete{
    border: 4px solid $teal;
    box-shadow: 0 0 4px $teal;
  }
  .upload-error{
    border: 4px solid $red;
    box-shadow: 0 0 4px $red;
  }
  .close{
    position: absolute;
    right: 2rem;
    color: $gray-500;
    font-weight: bold;
    visibility: hidden;
    transition: 0.1s ease-in;
  }
  &:hover .close{
    visibility: visible;
  }
  .size{
    color: $gray-500;
    font-size: 0.7rem;
  }
}