<form class="d-flex p-4" (ngSubmit)="create()" (keydown.enter)="$event.preventDefault()">
  <div class="close" title="Remove" (click)="remove()">
    <strong>x</strong>
  </div>
  <div class="col-xs-12 text-center">
    <div>
      <img class="preview" [ngClass]="{'upload-complete': uploaded, 'upload-error': uploadError}" [src]="sanitizeBlobURL(imageBase64)" width="54px" />
    </div>
    <div class="size">{{size}}</div>
    <div class="" style="margin: auto; font-size: 0.7rem;">
      <div *ngIf=" uploadProgress > 0 && uploadProgress < 100" class="percent text-info">{{uploadProgress}}%</div>
    </div>
  </div>
  <div class="form-group col-xs-12">
    <label for="name" style="color: #959595; font-size: 12px; margin-bottom: 0; margin-left: 2px;">Name and Keywords</label>
    <input id="name" type="text" class="form-control" [value]="name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="Name and Keywords" />
    <div class="text-danger" *ngIf="name.length < 3">Keywords should be atleast 3 characters long</div>
  </div>
</form>