.r{
  background-color: #f5f5f5;
  padding: 0.5em;
  border-radius: 5px;
  .arrows > img{
    opacity: 0.2;
    transition: 0.2s ease-in-out;
    padding: 0.5em;
    &:hover{
      opacity: 1;
      cursor: pointer;
    }
  }
}

.flip{
  transform: rotate(180deg);
}