<h2>Reactions</h2>

<div class="row">
  <div class="col-12">
    <div class="col text-right mb-4">
      <button class="btn btn-primary" (click)="update()">Update Position</button>
    </div>
    <ul>
      <li #wrapper *ngFor="let reaction of reactions; index as i" [attr.data-id]="reaction.id" [attr.data-position]="i" class="mb-2" style="list-style: decimal;">
        <div class="r d-flex align-content-center justify-content-between">
          <div class="arrows align-self-center">
            <img src="./assets/icons/position-skip-to-end.svg" (click)="moveToTop($event)" width="32px" alt="move-to-top" />
            <img src="./assets/icons/square-up.svg" (click)="moveUp ($event)" width="32px" alt="move-up" />
            <img src="./assets/icons/square-up.svg" (click)="moveDown($event)" width="32px" class="flip" alt="move-down" />
            <img src="./assets/icons/position-skip-to-end.svg" (click)="moveToBottom($event)" width="32px" class="flip" alt="move-to-top" />
          </div>
          <div class="image col" style="flex: 0;">
            <img class="rounded-circle" [src]="reaction.path" width="54px" />
          </div>
          <div class="keywords align-self-center" style="flex: 1;">
            {{reaction.name}}
          </div>
        </div>    
      </li>
    </ul>
    
  </div>
</div>