@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../variables";
@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";

.reacts-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  & > *{
    flex: 1 0 33%;
  }
}

@include media-breakpoint-up(md) { 
  .reacts-wrapper{
    flex-direction: row;
  }
}