<h1>Create Reactions</h1>

<button class="btn btn-primary" (click)="openFileInput()">Add reactions</button>
<div *ngIf="errors.length > 0" class="alert alert-danger my-4">
  <div *ngFor="let error of errors">
    <div *ngIf="error.error == 'size'">
      File '<strong>{{error.file.name}}</strong>' size exceeds {{this.maxSize / 1000}}kbs
    </div>
    <div *ngIf="error.error == 'type'">
      File '<strong>{{error.file.name}}</strong>' is not type of 'jpeg', 'jpg' or 'png'
    </div>
  </div>
</div>
<div class="d-flex justify-content-sm-end mr-3 mt-3" *ngIf="reactions.length > 0">
  <button class="btn btn-sm btn-success mr-2" (click)="createAll()" [disabled]="uploading">Upload all</button>
  <button class="btn btn-sm btn-secondary" (click)="clear()">Clear all</button>
</div>
<input type="file" class="off-screen" 
  accept=".jpg, .jpeg, .png" 
  (change)="onFileInputChange()"
  multiple 
  #fileInput/>
<div class="reacts-wrapper">
  <app-reaction-form *ngFor="let reaction of reactions" [file]="reaction" (onRemove)="remove($event)" #reactComp></app-reaction-form>
</div>

<div class="d-flex justify-content-sm-end mr-3 mt-3" *ngIf="reactions.length > 0">
  <button class="btn btn-sm btn-success mr-2" (click)="createAll()" [disabled]="uploading">Upload all</button>
  <button class="btn btn-sm btn-secondary" (click)="clear()">Clear all</button>
</div>