<div class="outer-wrapper" [@slideUpAnimation]="toggle ? 'open' : 'closed' ">
  <div class="inner-wrapper">
    <div *ngIf="user?.group < 20" style="background-color: yellow; font-size: small; padding: 0.2em 0.4em">Want to create your own reaction? Keep posting and gain privilage to do so!</div>
    <div class="react-search">
      <div class="btn-close" (click)="close()">
        <button>x</button>
      </div>
      <div class="form-group search">
        <input class="form-control" (keyup)="onKeyup($event)" type="search" placeholder="Search" />
      </div>
      <div class="btn-add">
        <div *ngIf="user?.group < 20" style="position: absolute;top:0;left:0; background: #00000040; width:100%; height: 100%; cursor:not-allowed; z-index: 1;"></div>
        <button (click)="close()" [routerLink]="['reactions/create']" style="background-color: transparent; padding: 0; border: 0px;">+</button>
      </div>
    </div>
    <div *ngIf="!reactions" class="d-flex justify-content-center text-center" style="height: 100%;">
      <img width="100%" style="max-width: 100px;" src="./assets/icons/rolling-loader.svg">
    </div>
    <div class="items">
      <div class="item" *ngFor="let r of reactions" (click)="select(r)">
        <img [src]="r.path" />
      </div>
    </div>
  </div>
</div>

<div class="backdrop" (click)="close()"></div>