@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../variables";
@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  background: #00000050;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.outer-wrapper{
  position: relative;
  background: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 300px;
  z-index: 2;
  .inner-wrapper{
    position: relative;
    height: 100%;
    max-height: 500px;
    .react-search{
      display: flex;
      border-bottom: 1px solid #d3d3d3; 
      .search{
        margin: 1em;
        flex-grow: 1;
      }
      .btn-close, .btn-add{
        padding: 1rem;
        border-right: 1px solid #d3d3d3;
        font-size: x-large;
        font-weight: bold;
        transition: 0.2s ease-in-out;
        position: relative;
        &:hover{
          cursor: pointer;
        }
        button{
          opacity: 0.4;
          border: 0px;
          padding: 0;
          background: transparent;
          cursor: pointer;
          &:hover{
            opacity: 1;
          }
        }
      }
      .btn-add{
        border-right: none;
        border-left: 1px solid #d3d3d3;
      }
    }
    .items{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      overflow-x: hidden;
      overflow-y: scroll;
      padding: 0 1em;
      width: 100%;
      height: calc(100% - 100px);
      max-height: inherit;
      align-items: baseline;
      align-content: baseline;
      .item{
        margin: 0.3em;
        border: 2px solid transparent;
        border-radius: 50%;
        max-width: 52px;
        width: 100%;
        background-color: #d3d3d3;
        &:hover, &:active{
          cursor: pointer;
          box-shadow: 0px 0px 5px #D35400;
          border: 2px solid #E76F20E6;
          transition: 0.4s ease-in all;
        }
        & img{
          border-radius: 50%;
          width: 100%;
        }
      }
    }
  }
}

@include media-breakpoint-up(sm){
  .outer-wrapper{
    max-height: 500px;
    .inner-wrapper{
      .items {
        padding: 0em;
        .item{
          margin: 0.5em;
          max-width: 72px;
        }
      }
    }
  }
}