<label class="mb-0" style="font-weight: bold;">Tags</label>
<tag-input [(ngModel)]='items'
  (onAdd)="onAdd($event)"
  (onSelect)="onSelected($event)"
  [separatorKeyCodes]="[32, 188]" 
  theme="foundation-theme"></tag-input>

  <!-- 
  <div id="tag-suggestions">
    <div *ngFor="let suggestion of suggestions" class="tag" (click)="addItem($event)">{{suggestion}}</div>
  </div> 
  -->
