#tag-suggestions{
  .tag{
    background: #F1C40F;
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
    display: inline-block;
    transition: all 0.3s;
    margin: 0.1rem 0.3rem 0.1rem 0;
    padding: 0.08rem 0.45rem;
    height: 32px;
    line-height: 32px;
    user-select: none;
    cursor: pointer;
    &:hover{
      background-color: darken(#F1C40F,10%);
    }
  }
}