<div *ngIf="post else notFound">
  <dp-post *ngIf="post"
  [post]="post"
  ></dp-post>
</div>

<ng-template #notFound>
  <div class="text-center m-4">
    <h1><strong>Do you know</strong></h1>
    <img class="p-4" width="100%" src="./assets/images/ugandan-knuckles.png" />
    <h1><strong>die we?</strong></h1>
  </div>
</ng-template>

<div class="load-post" *ngIf="loading">
  <div class="title"></div>
  <div class="post"></div>
  <div class="reacts">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="comments">
    <div class="mb-2">
      <div class="avatar"></div>
      <div class="comment">
        <div class="first"></div>
        <div class="second"></div>
      </div>
    </div>
    <div class="mb-2">
      <div class="avatar"></div>
      <div class="comment">
        <div class="first"></div>
        <div class="second"></div>
      </div>
    </div>
  </div>
</div>