<div id="openCreatePostonDrag"  
  (dragenter)="openCreatepost($event)" *ngIf="user?.group > 20"></div>
<div>
  <div class="nav-wrapper">
    <nav>
      <div class="container">
        <div class="nav-container row">
          <div class="col-2 d-md-none" (click)="toggleNav()">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="18px" viewBox="0 0 124 124" style="enable-background:new 0 0 124 124;" xml:space="preserve">
              <g>
              <path d="M112,6H12C5.4,6,0,11.4,0,18s5.4,12,12,12h100c6.6,0,12-5.4,12-12S118.6,6,112,6z" fill="#f4f4f4"/>
              <path d="M112,50H12C5.4,50,0,55.4,0,62c0,6.6,5.4,12,12,12h100c6.6,0,12-5.4,12-12C124,55.4,118.6,50,112,50z" fill="#f4f4f4"/>
              <path d="M112,94H12c-6.6,0-12,5.4-12,12s5.4,12,12,12h100c6.6,0,12-5.4,12-12S118.6,94,112,94z" fill="#f4f4f4"/>
              </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
            </svg>
          </div>
          <div class="logo col-8 col-md-3">
            <a routerLink="['/']">
              <img class="img-responsive" src="./assets/logo-full.svg" alt="dopachan"  style="max-width: 160px;"/>
            </a>
          </div>
          <div class=" col-2 d-md-none text-right" (click)="openCreatepost($event)" *ngIf="loggedIn">
           <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px"
              height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
            <g id="Frames-24px">
              <rect fill="none" width="24" height="24"/>
            </g>
            <g id="Solid">
              <g>
                <polygon fill="#f4f4f4" points="13.252,15.003 14.882,12.037 13.162,9.016 13.184,9.003 10.748,9.003 9.118,11.971 10.838,14.992 
                  10.816,15.003 		"/>
                <path fill="#f4f4f4" d="M12.302,2.02c-0.101-0.004-0.2-0.016-0.302-0.016c-2.7,0-5.148,1.081-6.949,2.824l2.906,5.104L12.302,2.02
                  z"/>
                <path fill="#f4f4f4" d="M20.647,7.003c-1.34-2.307-3.572-4.027-6.225-4.691l-2.576,4.691H20.647z"/>
                <path fill="#f4f4f4" d="M21.539,9.003h-6.083l4.862,8.539C21.379,15.956,22,14.051,22,12.003C22,10.958,21.837,9.951,21.539,9.003
                  z"/>
                <path fill="#f4f4f4" d="M3.681,6.465C2.621,8.051,2,9.956,2,12.003c0,1.045,0.163,2.053,0.461,3h6.083L3.681,6.465z"/>
                <path fill="#f4f4f4" d="M11.698,21.988c0.101,0.003,0.2,0.015,0.302,0.015c2.7,0,5.148-1.08,6.949-2.824l-2.906-5.103
                  L11.698,21.988z"/>
                <path fill="#f4f4f4" d="M3.353,17.003c1.34,2.308,3.572,4.027,6.225,4.691l2.576-4.691H3.353z"/>
              </g>
            </g>
            </svg>
          </div>
          <div class=" col-2 d-md-none text-right" (click)="openSignInComponent($event)" *ngIf="!loggedIn">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="22px">
            <g>
              <g>
                <path fill="#f4f4f4" class="st0" d="M256.9,43.5h191.3c11.8,0,21.3,9.5,21.3,21.3v382.6c0,11.8-9.5,21.3-21.3,21.3H257.5
                  c-12,0-22.1,9.8-21.8,21.7c0.3,11.5,9.7,20.8,21.3,20.8h191.2c35.2,0,63.8-28.5,63.8-63.8V64.7c0-35.2-28.6-63.8-63.8-63.8H257.5
                  c-12,0-22.1,9.8-21.8,21.7C235.8,34.2,245.3,43.5,256.9,43.5z"/>
              </g>
            </g>
            <g>
              <g>
                <path fill="#f4f4f4" class="st0" d="M335.6,241L206.3,113.4c-8.3-8.3-21.8-8.1-30.1,0.2s-8.2,21.8,0.2,30.1l92.3,91.1v0.1H21.8
                  c-12,0-22.1,9.8-21.8,21.7c0.3,11.5,9.7,20.8,21.3,20.8h247.4c0,0,0,0,0,0.1l-92.3,91.1c-8.4,8.3-8.4,21.7-0.2,30.1
                  c4.2,4.2,9.7,6.3,15.1,6.3s10.8-2,14.9-6.1l129.4-127.7c4-4,6.3-9.4,6.3-15.1S339.6,245,335.6,241z"/>
              </g>
            </g>
            </svg>
          </div>

          <div class="d-none d-md-block col">
            <search-component></search-component>
          </div>
          <div class="d-none d-md-block">
            <ul class="menu">
              <li *ngIf="!loggedIn"><button class="btn btn-sm btn-primary font-weight-bold" (click)="openSignInComponent($event)">Login</button></li>
              <li *ngIf="!loggedIn"><button class="btn btn-sm btn-primary font-weight-bold" (click)="openRegisterComponent($event)">Register</button></li>
              <li *ngIf="loggedIn">
                <img [routerLink]="['/u', user.id ]" [src]="user.avatar" class="rounded-circle" alt="your-avatar" width="30px" height="30px" style="cursor: pointer;" />
              </li>
              <li *ngIf="loggedIn">
                <button routerLink="/" class="btn btn-sm btn-primary font-weight-bold">Home</button>
              </li>
              <li *ngIf="loggedIn"><button class="btn btn-sm btn-primary font-weight-bold" (click)="openCreatepost($event)">+ Upload</button></li>
              <li style="display:none;"><button class="btn btn-sm btn-primary font-weight-bold" (click)="logoutFB()">Logout FB</button></li>
              <li *ngIf="loggedIn"><button class="btn btn-sm btn-primary font-weight-bold" (click)="logout()">Logout</button></li>
            </ul>
          </div>

          <div class="background-for-mobile-nav" [ngClass]="{'d-none': !navToggle}" (click)="toggleNav()"></div>
          <div class="mobile-nav d-md-none" [ngStyle]="{'left': navToggle ? '0px' : '-100%' }">
            <ul class="list-group list-group-flush">
              <li 
                *ngIf="loggedIn" 
                [routerLink]="['/u', user.id ]" 
                (click)="toggleNav()"
                class="list-group-item list-group-item-action bg-dark py-4">
                <img [src]="user.avatar" class="rounded-circle mr-2" alt="your-avatar" width="30px" height="30px" style="cursor: pointer;" />
                <span class="text-light "><strong>{{user.display_name}}</strong></span>
              </li>
              <li class="list-group-item disabled border-0"><search-component (onSubmit)="onSearch()"></search-component></li>
              <div *ngIf="user?.group > 59">
                <li class="list-group-item disabled border-top-0 pb-1"><h6><strong>Admin</strong></h6></li>
                <li [routerLink]="'/reports/posts'" (click)="toggleNav()" class="list-group-item list-group-item-action d-flex justify-content-between">
                  Reports<span><img width="18px" src="./assets/icons/reports.svg" alt="reports" /></span>
                </li>
                <li [routerLink]="'/reviews/posts'" (click)="toggleNav()" class="list-group-item list-group-item-action d-flex justify-content-between">
                  Reviews<span><img width="18px" src="./assets/icons/reviews.svg" alt="reviews" /></span>
                </li>
                <li [routerLink]="'/users'" (click)="toggleNav()" class="list-group-item list-group-item-action d-flex justify-content-between">
                  Users<span><img width="18px" src="./assets/icons/alien.svg" alt="users" /></span>
                </li>
                <li [routerLink]="'/reactions'" (click)="toggleNav()" class="list-group-item list-group-item-action d-flex justify-content-between">
                  Reactions<span><img width="18px" src="./assets/icons/smiley.svg" alt="users" /></span>
                </li>
              </div>
              <li class="list-group-item disabled border-top-0 pb-1">
                <h6><strong>Menu</strong></h6>
              </li>
              <li 
                routerLink="['/']"
                (click)="toggleNav()" 
                class="list-group-item list-group-item-action d-flex justify-content-between">
                Home<span><img width="18px" src="./assets/icons/home.svg" alt="home-icon" /></span>
              </li>
              <li 
                *ngIf="!loggedIn" 
                class="list-group-item list-group-item-action d-flex justify-content-between" 
                (click)="toggleNav(); openSignInComponent($event)">
                Login<span><img width="18px" src="./assets/icons/login.svg" alt="login-icon" /></span>
              </li>
              <li *ngIf="!loggedIn" class="list-group-item list-group-item-action d-flex justify-content-between" (click)="toggleNav(); openRegisterComponent($event)">
                Register<span><img width="18px" src="./assets/icons/register.svg" alt="register-icon" /></span>
              </li>
              <li 
                *ngIf="loggedIn" 
                class="list-group-item list-group-item-action d-flex justify-content-between" 
                (click)="toggleNav(); openCreatepost($event)">
                Upload<span><img width="18px" src="./assets/icons/exposure-level.svg" alt="upload-icon" /></span>
              </li>
              <li 
                *ngIf="loggedIn" 
                class="list-group-item list-group-item-action d-flex justify-content-between" 
                (click)="toggleNav()"
                routerLink="settings">
                Settings<span><img width="18px" src="./assets/icons/settings.svg" alt="settings-icon" /></span>
              </li>
              <li *ngIf="loggedIn" class="list-group-item list-group-item-action d-flex justify-content-between" (click)="logout()">
                Logout<span><img width="18px" src="./assets/icons/logout.svg" alt="logout-icon" /></span>
              </li>
            </ul>
            <h6 class="list-group-item disabled border-top-0"><strong>Sections</strong></h6>
            <div class="list-group-item list-group-item-action" [routerLink]="['/']" (click)="toggleNav();">
              <div class="media">
                <div class="media-body">Trending</div>
                <img width="25px" class="mr-1 rounded" src="./assets/images/sections/trending.svg" alt="">
              </div>
            </div>
            <div *ngFor="let section of sections" class="list-group-item list-group-item-action" (click)="toggleNav();">
              <div class="media" routerLink="/p/{{section | lowercase}}" routerLinkActive="active">
                <div class="media-body">{{section}}</div>
                <img width="25px" class="mr-1 rounded" src="./assets/images/sections/{{section | lowercase}}.jpg" alt="">
              </div>
            </div>
          </div>

        </div>
      </div>
    </nav>
  </div>
  
  <div class="container">
    <div class="row py-5">
      <div class="side-bar-wrapper col-md-2 d-none d-md-block">
        <div class="side-bar">
          <div class="sections">
            <div *ngIf="user?.group > 59">
              <h6>Admin</h6>
              <div class="item">
                <div class="media p-2" routerLink="/reports/posts" routerLinkActive="active">
                  <img width="25px" class="mr-1" src="./assets/icons/reports.svg" alt="" style="background-color: transparent;">
                  <div class="media-body">Reports</div>
                </div>
              </div>
              <div class="item">
                <div class="media p-2" routerLink="/reviews/posts" routerLinkActive="active">
                  <img width="25px" class="mr-1" src="./assets/icons/reviews.svg" alt="" style="background-color: transparent;">
                  <div class="media-body">Reviews</div>
                </div>
              </div>
              <div class="item">
                <div class="media p-2" routerLink="/users" routerLinkActive="active">
                  <img width="25px" class="mr-1" src="./assets/icons/alien.svg" alt="" style="background-color: transparent;">
                  <div class="media-body">Users</div>
                </div>
              </div>
              <div class="item">
                <div class="media p-2" routerLink="/reactions" routerLinkActive="active">
                  <img width="25px" class="mr-1" src="./assets/icons/smiley.svg" alt="" style="background-color: transparent;">
                  <div class="media-body">Reactions</div>
                </div>
              </div>
            </div>
            <h6>Sections</h6>
            <div class="item">
              <div class="media p-2" [routerLink]="['/']" >
                <img width="25px" class="mr-1" src="./assets/images/sections/trending.svg" alt="home" style="background-color: transparent;">
                <div class="media-body">Trending</div>
              </div>
            </div>
            <div *ngFor="let section of sections" class="item">
              <div class="media p-2" routerLink="/p/{{section | lowercase}}" routerLinkActive="active">
                <img width="25px" class="mr-1" src="./assets/images/sections/{{section | lowercase}}.jpg" alt="{{section | lowercase}}">
                <div class="media-body">{{section}}</div>
              </div>
            </div>
            <footer>
              <ul>
                <li><a href="https://about.dopachan.com" target="_blank">Cookie Policy</a></li>
                <li><a href="https://about.dopachan.com" target="_blank">Privacy Policy</a></li>
                <li><a href="https://about.dopachan.com" target="_blank">Disclaimer</a></li>
                <li><a href="https://about.dopachan.com" target="_blank">Contact Us</a></li>
                <li><a href="https://about.dopachan.com" target="_blank">Terms & Conditions</a></li>
              </ul>
            </footer>
          </div>
        </div>
      </div>
      
      <router-outlet></router-outlet>

      <div class="side-bar-wrapper col-md-4 d-none d-md-block" 
        *ngIf="!path.includes('/reports') && !path.includes('/reviews') && !path.includes('/users') && !path.includes('/reactions')">
          <div class="side-bar ml-2">
            <div class="trending">
              <h6>Featured</h6>
              <div *ngFor="let post of featured" class="item my-2">
                <a [routerLink]="['post', post.id]">
                  <div class="img-wrapper">
                    <img *ngIf="post.isVid" [src]="post.thumbnail" alt="">
                    <img *ngIf="!post.isVid" [src]="post.source" alt="">
                  </div>
                  <p class="m-2">{{post.caption}}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        
    </div>
  </div>
  
</div>