@import "../../node_modules/bootstrap/scss/functions";
@import "../variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";


@include media-breakpoint-down(sm){
  .nav-wrapper{
    background: transparent;
    nav{
      display: flex;
      align-items: center;  
      .nav-container{
        height: 100%;
        .logo{ text-align: center; }
      }
      .mobile-nav-btn{
        position: absolute;
        top: 18px;
        right: 18px;
        width: 18px;
        cursor: pointer;
        svg:hover{
          path{
            transition: fill 0.2s ease-in-out;
            fill: darken(#f4f4f4, 10%);
          }
        }
      }
      .background-for-mobile-nav{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.4);
        transition: background 0.3s ease-out; 
      }
      .mobile-nav{
        position: absolute;
        top: 0px;
        left: -100%;
        width: 80vw;
        height: 100vh;
        border-right: 1px solid $gray-300;
        background-color: #fff;
        overflow-x: hidden;
        overflow-y: scroll;
        z-index: 1;
        transition: left 0.25s ease-in-out;
        &.active{ left: 0px; }
        .list-group-item-action{ 
          cursor: pointer; 
          &:last-child{ border-bottom: 0px; }
        }
      }
    }
  }
}

.menu{
  text-decoration: none;
  text-align: right;
  padding-left: 15px;
  margin-bottom: 0px !important;
  & > li{
    list-style: none;
    display: inline-block;
    padding: 8px;
    font-weight: bold;
    color: #fff;
    margin: 0px 4px;
    border-radius: 4px;
    &::hover{
      cursor: pointer;
      background-color: #F5D657;
    }
  }
}

.logo{
  font-family: 'Press Start 2P', 'Segoe UI', Verdana, sans-serif;
  font-size: large;
}

.side-bar-wrapper{
  position: relative;
  .side-bar{
    width: 100%;
    position: fixed;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
    h1, h2, h3, h4, h5, h6{
      color: #999;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.tag{
  background: #F1C40F;
  color: #fff;
  font-size: 13px;
  border-radius: 4px;
  display: inline-block;
  transition: all 0.3s;
  margin: 0.1rem 0.3rem 0.1rem 0;
  padding: 0.08rem 0.45rem;
  height: 32px;
  line-height: 32px;
  user-select: none;
  cursor: pointer;
  &:hover{
    background-color: darken(#F1C40F,10%);
  }
}

.sections{
  height: 100%;
  width: 8%;
  .item{
    font-size: 13px;
    line-height: 26px;
    border-radius: 4px;
    .active{ background-color:#F5D657; border-radius: 4px;  }
    &:hover{ cursor: pointer; background-color: #f4f4f4; }
    img{ border-radius: 4px; background-color: #d3d3d3; min-width: 24px;}
  }
} 

.trending{
  width: 19%;
  .item{ 
    a{color: inherit;&:hover{text-decoration: none;}} 
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    .img-wrapper{ 
      height: 100px; 
      background-color: $gray-300;
      overflow: hidden; 
      img{ width: 100%; margin-top: -10%; }
    }
    &:hover{ cursor: pointer; background-color: #f4f4f4; color:#09f; }
  }
}

#openCreatePostonDrag{
  min-height: 100vh;
  min-width: 90vw;
  position: fixed;
}

footer{
  ul{
    margin: 0px;
    padding: 0px;
    li{
      font-size: 11px;
      display: inline-block;
      margin: 0 2px;
      a{
        color: #999;
        text-decoration: none;
        &:hover{
          color: darken(#999, 20%);
        }
      }
    }
  }
}