@import "../../../node_modules/bootstrap/scss/functions";
@import "../../variables";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";

:host{
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  position: relative;
}

.post-section{
  padding: 0;
  .avatar{
    border-radius: 4px;
    width: 48px;
    padding: 8px;
    padding-left: 0;
  }
  .details{
    display: flex;
    align-items: center;
    .name{
      font-weight: 800;
      font-size: 0.8em;
      color: #484848;
    }
    .time{
      color: #484848;
    }
  }
  .caption{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-bottom: 8px;
    padding: 4px 10px;
    background-color: #FFDE59;
  }
  .post{
    min-height: 200px;
    background-color: #d3d3d3;
    overflow: hidden;
    img{ width: 100%; cursor: pointer; }
    video{ cursor: pointer; }  
  } 

  .post-report-menu{
    .button{
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 18px;
      height: 18px;
      margin-left: 12px;
      fill: #F4F4F4;
      transition: fill 0.2s ease-in-out;
      &:hover{
        fill: darken(#F4F4F4, 10%);
        cursor: pointer;
      }
    }
    .dropdown-item:hover{ cursor: pointer; }
  }
  
}
.reactions{
  position: relative;
  display: flex;
  align-items: center;
  background-color: #F4F4F4;
  padding: 14px 8px 8px;
  border-left: 1px solid #F1C40F;
  border-right: 1px solid #F1C40F;
  .show-more{
    align-self: baseline;
    margin-top: 0.8em;
    path {
      fill: #A1AAAE;
    }
    &:hover{
      cursor: pointer;
    }
    &:hover path{
      fill: #5C5C5C;
    }
  }
  .reaction:not(.show-more){
    position: relative;
    height: 100%;
    user-select: none;
    border-radius: 50%;
    margin: 0 2px;
    min-width: 52px;
    min-height: 52px;
    background: #d3d3d3;
    transition: 0.4s ease-in-out;
    &:hover{
      cursor: pointer;
      box-shadow: 0px 0px 5px #D35400;
    }
    img{
      width: 100%;
      height: 100%;
      max-width: 54px;
      border: 4px solid #fff;
      border-radius: 50%;
      min-width: 52px;
      min-height: 52px;
      background: #d3d3d3;
      display: block;
    }
    .empty{
      background-color: #d6d6d6;
    }
    .selection{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      max-width: 54px;
      border: 2px solid transparent;
      border-radius: 50%;
      transition: 0.4s ease-in-out;
    }
    .selected{
      box-shadow: 0px 0px 5px #D35400;
      border: 2px solid #E76F20E6;
      transition: 0.4s ease-in all;
    }
    .count{
      position: absolute;
      left: 45%;
      text-align: center;
      font-size: 0.75em;
      min-height: 0.75em;
      color: #858585;
    }
  }
}
.reaction-list{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 320px;
  z-index: 301;
}

@include media-breakpoint-up(sm){
  .reaction-list{
    max-height: 500px;
  }
}

.comment-section{
  position: relative;
  padding: 18px;
  border: 1px solid #F1C40F;
  border-top: 0px;
  border-bottom: 0px;
  .view-more-comments{
    font-size: 0.8rem;
  }
  .comment-controls{
    padding: 5px 0;
  }
}

.footer{
  background-color: #fff;
  border: 1px solid #F1C40F;
  border-top: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.user{
  background-color: #f4f4f4;
  padding: 2px;
  margin: 0.8em 0;
  float: right;
  cursor: pointer;
  color: #484848;
  transition: all 0.4s ease-in-out;
  border-radius: 4px;
  .avatar{
    border-radius: 4px;
    width: 48px;
    padding: 8px;
    padding-left: 0;
    border-radius: 50%;
  }
  &:hover{
    color: #484848;
    text-decoration: none;
    background-color: darken(#f4f4f4, 10%);
  }
}

.tags{
  font-size: 16px;
  color: #d3d3d3;
}

vg-controls{
  background-color: rgba($color: #000, $alpha: 0);
  vg-time-display{ font-size: 13px; line-height: 40px; }
  vg-volume{ width: 50px; }
  vg-scrub-bar-current-time, vg-scrub-bar-buffering-time{ height: 4px;  top: calc(50% - 0px); }
  vg-mute .icon{ font-size: 18px !important; }
  transition: bottom 0.4s;
  &>*{ 
    width: 36px; 
    height: 36px; 
    margin: 0 6px;
    border-radius: 1.2rem; 
    background-color: rgba(#000, $alpha: 0.8) 
  }
  & vg-volume{
    padding: 0 4px;
  }
}

.play-btn{ 
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  border-radius: 50%;
  width: 72px;
  height: 72px;
  border: 2px solid #fff;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0,0,0,.5);
  .vg-icon-play_arrow{
    font-size: 64px;
    color: #fff; 
    margin: auto; 
  }
}
