<div class="post-section">
  <div *ngIf="post.nsfw && !editMode"><span class="badge badge-warning">NSFW</span></div>
  <div class="caption" *ngIf="!editMode">{{post.caption}}</div>
  <div class="form-group caption mb-0 p-1" *ngIf="editMode">
    <input type="text" class="form-control" name="caption" (keyup)="outputUpdatedPost()" [(ngModel)]="post.caption" placeholder="Write a hilarious caption..." />
  </div>
  <div class="post" [ngStyle]="{maxHeight: limitHeight ? '1000px' : 'auto'}">
    <div style="position: relative;" *ngIf="!post.isVid;else vid">
      <a *ngIf="link" [routerLink]="['/post',post.id]" target="_blank" style="position:absolute; top:0;left:0;width:100%;height:100%;"></a>
      <img preload [src]="post.source" [alt]="post.caption" />
    </div>
    
    <ng-template #vid>
      <vg-player 
         inViewport 
        (inViewportAction)="onInViewportChange($event)"
        (onPlayerReady)="onPlayerReady($event)">
        <vg-play-pause #playBtn class="play-btn" (click)="playVideo($event, post.id)">
          <span class="vg-icon-play_arrow"></span>
        </vg-play-pause>
        <vg-controls [vgAutohide]="true" [vgAutohideTime]="4" >
          <vg-play-pause (click)="playVideo($event, post.id)"></vg-play-pause>
          <vg-mute></vg-mute>
          <vg-volume class="d-none d-md-flex"></vg-volume>
          <vg-fullscreen class="ml-auto"></vg-fullscreen>
        </vg-controls>
        <video #media 
          [vgMedia]="media" 
          [attr.id]="post.id" 
          preload="none" 
          [poster]="post.thumbnail"
          (click)="onVideoClick()"
          [ngStyle]="{'maxHeight': fullScreenToggle ? 'inherit' : '600px' }" 
          autoplay
          loop>
          <source [src]="post.source" type="video/mp4">
        </video>
        </vg-player>
    </ng-template>
  </div>
</div>
<div class="reactions" *ngIf="showReactions" #reactionElements>
  <div class="reaction" *ngFor="let reaction of post.reacts" [ngStyle]="{'margin-bottom': showReactsCount ? '20px' : '0px' }">
    <span 
      id="{{reaction.id}}"
      class="selection"
      [ngClass]="{selected: reaction.liked}" 
      (click)="reactToEmo($event)"></span>
    <img [src]="reaction.path" [alt]="reaction.name" />
    <div class="count" *ngIf="showReactsCount">{{reaction.count || reaction.count > 0 ? reaction.count : ''}}</div>
  </div>
  <div *ngIf="!showReactsCount && reactCount != 0" class="mx-1"><span style="color: #858585; font-size: 12px; font-weight: bold;">{{reactCount > 0 ? reactCount : ''}}</span></div>
  <div class="show-more mx-1" (click)="showReactionList = !showReactionList">
    <span class="d-none d-sm-block">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="16px" viewBox="0 0 342.382 342.382" style="enable-background:new 0 0 342.382 342.382;"
     xml:space="preserve">
      <g>
        <g>
          <g>
            <path d="M45.225,125.972C20.284,125.972,0,146.256,0,171.191c0,24.94,20.284,45.219,45.225,45.219
              c24.926,0,45.219-20.278,45.219-45.219C90.444,146.256,70.151,125.972,45.225,125.972z"/>
          </g>
          <g>
            <path d="M173.409,125.972c-24.938,0-45.225,20.284-45.225,45.219c0,24.94,20.287,45.219,45.225,45.219
              c24.936,0,45.226-20.278,45.226-45.219C218.635,146.256,198.345,125.972,173.409,125.972z"/>
          </g>
          <g>
            <path d="M297.165,125.972c-24.932,0-45.222,20.284-45.222,45.219c0,24.94,20.29,45.219,45.222,45.219
              c24.926,0,45.217-20.278,45.217-45.219C342.382,146.256,322.091,125.972,297.165,125.972z"/>
          </g>
        </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
      </svg>
    </span>
    <span class="d-sm-none">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="16px" viewBox="0 0 408 408" style="enable-background:new 0 0 408 408;" xml:space="preserve">
     <g>
       <g id="more-vert">
         <path d="M204,102c28.05,0,51-22.95,51-51S232.05,0,204,0s-51,22.95-51,51S175.95,102,204,102z M204,153c-28.05,0-51,22.95-51,51
           s22.95,51,51,51s51-22.95,51-51S232.05,153,204,153z M204,306c-28.05,0-51,22.95-51,51s22.95,51,51,51s51-22.95,51-51
           S232.05,306,204,306z"/>
       </g>
     </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
     </svg>
    </span>
  </div>
</div>

<div class="tag" *ngIf="editMode">
  <tag-input [(ngModel)]='post.tags'
    (onAdd)="addedTag($event)"
    (onSelect)="removeTag($event)" 
    [separatorKeyCodes]="[32, 188]" 
    theme="foundation-theme"></tag-input>
</div>

<div class="custom-control custom-checkbox my-2" *ngIf="editMode" (click)="outputUpdatedPost()">
  <input type="checkbox" [(ngModel)]="post.nsfw" class="custom-control-input" id="customControlInline">
  <label class="custom-control-label" for="customControlInline">NSFW?</label>
</div>

<div class="tags" *ngIf="!editMode && user.group > 40">
  <span *ngFor="let tag of post.tags; index as i">{{tag}}<span *ngIf="post.tags.length != (i+1)">, </span></span>
</div>

<div class="comment-section" *ngIf="showComments">
  <dp-new-comment
    [user]="user" 
    [postId]="post.id"
    [disabled]="submittingComment"
    [submitState]="submittingCommentState"
    (onSubmit)="onCommentSubmit($event)"></dp-new-comment>
  <div class="mt-4" style="clear: both;" *ngIf="post.comments.length > 0">
    <dp-comment
      *ngFor="let comment of post.comments" 
      [id]="comment.id"
      [user]="comment.user"
      [postId]="post.id"
      [comment]="comment.comment"
      [displayName]="comment.displayName"
      [likes]="comment.likes ? comment.likes : 0"
      [dislikes]="comment.dislikes ? comment.dislikes : 0"
      [liked]="comment.liked"
      [disliked]="comment.disliked"
    ></dp-comment>
  </div>
</div>
<div class="footer">
  <input type="text" class="off-screen" style="top: inherit;" [value]="'https://static.dopachan.com/?p='+post.id" #linkEl readonly="true"/>
  <div class="p-2 d-flex flex-wrap" *ngIf="!editMode">
    <button class="btn-xs" *ngIf="!post.saved" (click)="addToCollection()">Save</button>
    <button class="btn-xs" *ngIf="post.saved" (click)="removeFromCollection()">Unsave</button>
    <button class="btn-xs" (click)="share()">Share</button>
    <button class="btn-xs" (click)="copyLink()">Copy Link</button>
    <button class="btn-xs" (click)="report()">Report</button>
    <button class="btn-xs" *ngIf="user.group > 79" (click)="remove()">Delete</button>
    <button class="btn-xs" *ngIf="user.group > 79 && !post.featured" (click)="markAsFeatured()">Feature</button>
    <button class="btn-xs" *ngIf="user.group > 79 && post.featured" (click)="removeFromFeatured()">Unfeature</button>
  </div>
</div>
<div class="m-2 d-flex" *ngIf="user.group > 59">
  <a class="ml-auto" [routerLink]="['/u', post.user_id]" target="_blank">
    <div style="width:10px; height:10px; border-radius: 50%;" [ngStyle]="{'backgroundColor': '#'+post.user_id.slice(-3)}"></div>
  </a>
</div>

<a class="user" *ngIf="showUser" routerLink="/u/{{post.user.id}}" target="_blank">
  <img class="avatar" [src]="post.user.avatar" />
  <span class="mr-3">Posts <strong>{{post.user.posts || 0 }}</strong></span>
  <span class="mr-3">Strikes <strong>{{post.user?.strikes?.length || 0}}</strong></span>
</a>

<!-- Reacts -->
<div class="reaction-list" *ngIf="showReactionList">
  <app-reactions-select [reactions]="reactions" [toRemoveReactions]="post.reacts" (onSelect)="onSelectCustomReaction($event)"></app-reactions-select>
</div>