<div *ngIf="noPosts" class="jumbotron text-center">
  <h5>No posts to review :)</h5>
</div>

<div *ngIf="!post && !noPosts" class="d-flex justify-content-center">
  <img width="100%" style="max-width: 100px;" src="./assets/icons/rolling-loader.svg">
</div>

<div *ngIf="post">
<div class="col-md-9">
  <div class="nav row">
    <div class="actions">
      <button type="button" class="btn btn-primary mr-1" *ngIf="!editMode" (click)="allow()">Allow</button>
      <button type="button" class="btn btn-primary mr-1" *ngIf="editMode" (click)="allow(true)">Allow & save</button>
      <button type="button" class="btn btn-warning mr-1" (click)="show='removeOptions'">Remove</button>
      <button type="button" class="btn btn-light mr-1" (click)="skip()">Skip</button>
      <button type="button" class="btn btn-secondary mr-1" *ngIf="!editMode" (click)="editMode = true">Edit</button>
      <button type="button" class="btn btn-danger" (click)="show='banOptions'">Remove & Ban</button>
      <div [ngSwitch]="show">
        <ng-template [ngSwitchCase]="'removeOptions'">
          <div class="form-group my-2">
            <select class="form-control" #removeOptions>
              <option value="1" selected>Spam</option>
              <option value="2">Pornography</option>
              <option value="3">Hatred and Bullying</option>
              <option value="4">Self Harm</option>
              <option value="5">Violent</option>
              <option value="6">Illegal Activities</option>
              <option value="7">Deceptive</option>
            </select>
            <button class="btn btn-danger btn-sm mt-1" (click)="remove()">Remove</button>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'banOptions'">
          <div class="form-group my-2">
            <select class="form-control" #banOptions>
              <option value="1">Spam</option>
              <option value="2">Pornography</option>
              <option value="3">Hatred and Bullying</option>
              <option value="4">Self Harm</option>
              <option value="5">Violent</option>
              <option value="6">Illegal Activities</option>
              <option value="7">Deceptive</option>
            </select>
            <button class="btn btn-danger btn-sm mt-1" (click)="remove(true)">Remove & Ban</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div class="col-md-9">
  <div class="row">
    <dp-post 
      [post]="post" 
      [showReactions]="false" 
      [showComments]="false" 
      [showUser]="true" 
      [showTags]="true"
      [showNsfwFlag]="true"
      [editMode]="editMode"
      (onUpdate)="onUpdate(post)">
    </dp-post>
  </div>
</div>

</div>