<!-- <p>
  comment works!
</p> -->
<div class="comment" [id]="id">
  <span class="disabled" #overlayer></span>
  <img class="avatar" src="{{user.avatar}}" />
  <div class="content">
    <strong>{{user.display_name}} </strong><span [innerHTML]="comment"></span>
    <div class="comment-controls">
      <span [ngClass]="{'active': action == 1}" class="link-btn mr-1" (click)="like($event)" #likeBtn>
        <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px"
          height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
        <g id="Frames-24px">
          <rect fill="none" width="24" height="24"/>
        </g>
        <g id="Solid">
          <g>
            <path fill="#757575" d="M5,8H1C0.448,8,0,8.448,0,9v10c0,0.552,0.448,1,1,1h4c0.552,0,1-0.448,1-1V9C6,8.448,5.552,8,5,8z"/>
            <path fill="#757575" d="M22.768,7.359C22.578,7.132,22.296,7,22,7h-6V3c0-0.552-0.448-1-1-1h-3c-0.4,0-0.762,0.238-0.919,0.606
              L8,9v9.478l3.628,1.451C11.747,19.976,11.873,20,12,20h8c0.483,0,0.897-0.346,0.984-0.821l2-11
              C23.037,7.887,22.958,7.587,22.768,7.359z"/>
          </g>
        </g>
        </svg>
      </span>
      <span *ngIf="(likesCount) != 0" class="vote-count mx-1">{{likesCount}}</span>
      <span [ngClass]="{'active': action == -1}" class="link-btn ml-1" (click)="dislike($event)">
        
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px"
          height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
        <g id="Frames-24px">
          <rect fill="none" width="24" height="24"/>
        </g>
        <g id="Solid">
          <g>
            <path fill="#757575" d="M19,14h4c0.552,0,1-0.448,1-1V3c0-0.552-0.448-1-1-1h-4c-0.552,0-1,0.448-1,1v10
              C18,13.552,18.448,14,19,14z"/>
            <path fill="#757575" d="M1.232,14.641C1.422,14.868,1.704,15,2,15h6v4c0,0.552,0.448,1,1,1h3c0.4,0,0.762-0.238,0.919-0.606L16,13
              V3.522l-3.628-1.451C12.253,2.024,12.127,2,12,2H4C3.517,2,3.103,2.346,3.016,2.821l-2,11C0.963,14.113,1.042,14.413,1.232,14.641
              z"/>
          </g>
        </g>
        </svg>
      </span>
      <span *ngIf="me">
        <ng-template  #moreContent>
          <div class="comment-options">
            <div *ngIf="user.id == me.id" (click)="delete()">Delete</div>
            <div *ngIf="user.id != me.id" (click)="report()">Report</div>
          </div>
        </ng-template>
        <span class="more-btn" [ngbPopover]="moreContent" [autoClose]="true">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="18px" height="18px" viewBox="0 0 342.382 342.382" style="enable-background:new 0 0 342.382 342.382;"
            xml:space="preserve">
          <g>
            <g>
              <g>
                <path d="M45.225,125.972C20.284,125.972,0,146.256,0,171.191c0,24.94,20.284,45.219,45.225,45.219
                  c24.926,0,45.219-20.278,45.219-45.219C90.444,146.256,70.151,125.972,45.225,125.972z"/>
              </g>
              <g>
                <path d="M173.409,125.972c-24.938,0-45.225,20.284-45.225,45.219c0,24.94,20.287,45.219,45.225,45.219
                  c24.936,0,45.226-20.278,45.226-45.219C218.635,146.256,198.345,125.972,173.409,125.972z"/>
              </g>
              <g>
                <path d="M297.165,125.972c-24.932,0-45.222,20.284-45.222,45.219c0,24.94,20.29,45.219,45.222,45.219
                  c24.926,0,45.217-20.278,45.217-45.219C342.382,146.256,322.091,125.972,297.165,125.972z"/>
              </g>
            </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
          </svg>
        </span>
      </span>
    </div>
  </div>
  
  <div style="clear:both;"></div>
</div>