.disabled{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(211,211,211,0.4);
  display: none;
}
.comment{
  display: flex;
  font-size: 13px;
  position: relative;
  .avatar{
    width: 34px;
    height: 34px;
    border-radius: 2px;
    margin-right:0.5rem;
  }
  .vote-count{
    color: #999999; 
    font-size: 0.9em;
    vertical-align: text-bottom;
  }
  .link-btn{
    cursor: pointer;
    svg{ 
      width: 14px; 
      vertical-align: bottom;
      path{ fill: #D6D6D6; }
    }
    &.active svg path{ fill: #FF954E; }
    &:hover{ 
      svg path {fill: #FF954E;} 
    }
  } 
  .more-btn{
    svg{
      width: 18px;
      height: 18px;
      margin-left: 12px;
      fill: #d3d3d3;
      transition: fill 0.2s ease-in-out;
      &:hover{ fill: darken(#d3d3d3, 20%); cursor: pointer; }     
    }
  }
  .comment-options{
    &>div:hover{
      cursor: pointer;
      font-weight: 600;
    }
  }

}