<div class="modal-header">
  <h5 class="modal-title">Create Post</h5>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="create-post-container">
    <div class="create-post-wrapper" #wrapper>
      <div class="item active">
        <create-post-upload (fileLocation)="setImageLocation($event)"></create-post-upload>
      </div>
      <div class="item">
        <create-post-select-reactions (data)="getData($event)" [file]="obj.file.path"></create-post-select-reactions>
      </div>
    </div>
  </div>
</div>
