.modal-body{
  transition: all 0.4s ease-in-out;
}
.create-post-container{
  position: relative;
  width: 100%;
  overflow: hidden;
  .create-post-wrapper{
    display: flex;
    flex-wrap: nowrap;
    width: 3 * 100%;
    overflow: visible; 
    transition: all 0.4s ease-in-out;
    .item{ 
      visibility: hidden;
      height: 0px;
      padding: 8px;
      position: relative;
      width: calc(100%/3); 
      &.active{ visibility: visible; height: auto; }
      &>*{ width: 100%; }
    }
  }
}