#user-details{
  display: flex;
  align-items: flex-start;
  .avatar{
    position: relative;
    .settings-overlayer{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      background: #fff;
      border-radius: 50%;
      max-width: 80px;
      padding: 0.5rem;
      opacity: 0;
      cursor: pointer;
      transition: opacity 0.25s ease-in-out;
      &:hover{
        opacity: 0.8;
      }
      .icon{
        width: 60%;
        margin: 0.7rem;
        border-radius: 0%;
      }
    }
    img{
      border-radius: 100%;
      max-width: 80px;
    }
  }
}

.user-nav{
  padding-left: 0;
  li{
    display: inline-block;
    list-style: none;
    margin-right: 15px;
    font-weight: 600;
    cursor: pointer;
    padding-bottom: 0.2rem;
    border-bottom: 3px solid transparent; 
    color: #ADADAD;
    &:hover{ color: #FF7A22; }
    &.active{ border-color: #FF954E; color: #FF954E;}
  }
}