<div class="d-flex justify-content-center"  *ngIf="!user">
  <img width="100%" style="max-width: 100px;" src="./assets/icons/rolling-loader.svg" alt="loading" />
</div>

<div *ngIf="user">
  <div class="container-fluid">
    <div *ngIf="user" id="user-details">
      <div class="avatar">
        <a routerLink="/settings" *ngIf="user.id == myself?.id" style="width: 100%; height:100%; position:absolute; top:0; left:0;"></a>
        <div class="settings-overlayer" *ngIf="user.id == myself?.id">
          <img class="icon" src="./assets/icons/settings-1.svg" alt="settings" />
        </div>
        <img class="mr-2" [src]="user.avatar" [alt]="user.display_name" />
      </div>
      <div class="mt-2 ml-2 flex-grow-1">
        <div class="float-right" *ngIf="user.id == myself?.id"><a routerLink="/settings" class="btn btn-light"><img width="25px" src="./assets/icons/settings-2.svg" /></a></div>
        <h5 class="mb-0">{{user.display_name}}</h5>
        <div style="font-size: 0.9rem;">{{user.about ? user.about : 'No one but a misterious memester'}}</div>
      </div>
    </div>
    <div class="mt-4">
      <ul class="user-nav mb-2">
        <li [ngClass]="{active: active == 'recent'}" (click)="switch('recent')">Recent</li>
        <li [ngClass]="{active: active == 'posts'}" (click)="switch('posts')">Posts</li>
        <li [ngClass]="{active: active == 'collection'}" (click)="switch('collection')">Collection</li>
      </ul>
    </div>
  </div>
  
  <div *ngIf="active == 'recent'">
    
    <dp-post *ngFor="let post of recent"
      [post]="post"
    ></dp-post>
    <div class="load-post" *ngIf="loading">
      <div class="title"></div>
      <div class="post"></div>
      <div class="reacts">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="comments">
        <div class="mb-2">
          <div class="avatar"></div>
          <div class="comment">
            <div class="first"></div>
            <div class="second"></div>
          </div>
        </div>
        <div class="mb-2">
          <div class="avatar"></div>
          <div class="comment">
            <div class="first"></div>
            <div class="second"></div>
          </div>
        </div>
      </div>
    </div>
  
    <div *ngIf="!this.loading && !this.end" inViewport (inViewportAction)="getRecentPosts($event)" style="height: 100vh; width: 100%; position: absolute; bottom:0;"></div>
    <div *ngIf="this.end && this.recent.length == 0"  class="jumbotron"><h5 class="text-center">No recent activity</h5></div>
    <div *ngIf="this.end && this.recent.length > 0" class="jumbotron"><h5 class="text-center">The End</h5></div>
  </div>
  
  <div *ngIf="active == 'posts'">
  
    <dp-post *ngFor="let post of posts"
      [post]="post"
    ></dp-post>

    <div class="load-post" *ngIf="loading">
      <div class="title"></div>
      <div class="post"></div>
      <div class="reacts">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="comments">
        <div class="mb-2">
          <div class="avatar"></div>
          <div class="comment">
            <div class="first"></div>
            <div class="second"></div>
          </div>
        </div>
        <div class="mb-2">
          <div class="avatar"></div>
          <div class="comment">
            <div class="first"></div>
            <div class="second"></div>
          </div>
        </div>
      </div>
    </div>
  
    <div *ngIf="!this.loading && !this.end" inViewport (inViewportAction)="getUserPosts($event)" style="height: 100vh; width: 100%; position: absolute; bottom:0;"></div>
    <div *ngIf="this.end && this.posts.length == 0"  class="jumbotron"><h5 class="text-center">No posts to show</h5></div>
    <div *ngIf="this.end && this.posts.length > 0" class="jumbotron"><h5 class="text-center">The End</h5></div>
  </div>
  
  <div *ngIf="active == 'collection'">

    <dp-post *ngFor="let post of collection"
      [post]="post"
    ></dp-post>
  
    <div class="load-post" *ngIf="loading">
      <div class="title"></div>
      <div class="post"></div>
      <div class="reacts">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="comments">
        <div class="mb-2">
          <div class="avatar"></div>
          <div class="comment">
            <div class="first"></div>
            <div class="second"></div>
          </div>
        </div>
        <div class="mb-2">
          <div class="avatar"></div>
          <div class="comment">
            <div class="first"></div>
            <div class="second"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div *ngIf="!this.loading && !this.end" inViewport (inViewportAction)="getUserCollection($event)" style="height: 100vh; width: 100%; position: absolute; bottom:0;"></div>
    <div *ngIf="this.end && this.posts.length == 0"  class="jumbotron"><h5 class="text-center">Collection is empty</h5></div>
    <div *ngIf="this.end && this.posts.length > 0" class="jumbotron"><h5 class="text-center">The End</h5></div>
    
  </div>  
</div>