<div class="modal-header">
  <h5 class="modal-title">{{post.caption}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body m-0">
  <div class="row">
    <img *ngIf="post.isVid" width="100%" [src]="post.thumbnail" />
    <img *ngIf="!post.isVid" width="100%" [src]="post.source" />
  </div>
</div>