@import "../node_modules/bootstrap/scss/mixins/border-radius";
@import "../node_modules/ngx-chips/core/styles/core/core.scss";

/* You can add global styles to this file, and also import other style files */
body{
  margin:0;
  font-family: 'lato';
  color: #5C5C5C;
}

.gray-label{
  color: #999999;
  font-size: 0.75rem;
}

a, a:visited, a:hover{
  color: #199ED8;
  text-decoration: none;
}

ol, ul, dl{ margin: 0; }

hr{
  border-color: #F4F4F4;
  opacity: 0.4;
}



/* Skeleton files */

.search{
  margin: 0 24px;
  flex: 1 1 auto;
  font-weight: 600;
}

.search-icn{
  font-size: 28px;
  cursor: pointer;
  transform: scale(-1, 1);
  margin-left: 12px;
}

::placeholder{
  opacity: 0.5 !important;
}

nav{
  width: 100%;
  padding: 4px 0px;
  height: 55px;
  background-color: #F1C40F;
  position: fixed;
  z-index: 301;
  margin-top: -55px;
}

.nav-wrapper{
  background-color: #F1C40F;
  &::before{
    content: "";
    height: 55px;
    width:100% ;
    display: block;
  }
}

.nav-container{
  justify-content: space-between;
  & > *{
    align-self: center;
  }
}
@keyframes load-post-glow{
  0%{ opacity: 1; }
  50%{ opacity: 0.7; }
  100%{ opacity: 1; }
}
.load-post{
  background-color: #f4f4f4;
  position: relative;
  .title{ 
    background-color: #d3d3d3; 
    max-width: 250px;
    width: 100%;
    height: 24px;
    display: inline-block;
    margin-top: 0.5em;
    border-radius: 2px;
    animation: load-post-glow 3s;
    animation-iteration-count: infinite;
  }
  .post{ 
    background-color: #A1AAAE; 
    width: 100%;
    height: 300px;
  }
  .reacts{ 
    &>*{
      width: 36px;
      height: 36px;
      background-color:  #d3d3d3; 
      margin: 0.5em 1em;
      display: inline-block;
      border-radius: 50%;
      animation: load-post-glow 3s;
      animation-iteration-count: infinite;
    }
  }
  .comments{
    padding: 18px;
    .avatar{
      width: 34px;
      height: 34px;
      background-color: #d3d3d3;
      display: inline-block;
      margin-right: 0.4em;
    }
    .comment{
      display: inline-block;
      width: 80%;
      animation: load-post-glow 3s;
      animation-iteration-count: infinite;
      .first, .second{
        width: 80%;
        height: 10px;
        background-color: #d3d3d3;
        margin-bottom: 0.4em;
      }
      .first{ max-width: 100px; }
      .second{ max-width: 350px; }
    }
  }
}

// Modal header
// Top section of the modal w/ title and dismiss


.modal-header {
  display: flex;
  align-items: flex-start; // so the close btn always stays on the upper right corner
  justify-content: center; // Put modal header elements (title and dismiss) on opposite ends
  padding: $modal-header-padding;
  border-bottom: $modal-header-border-width solid $modal-header-border-color;
  position: relative;
  @include border-top-radius($border-radius-lg);

  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: $modal-header-padding;
    // auto on the left force icon to the right even when there is no .modal-title
    margin: (-$modal-header-padding) (-$modal-header-padding) (-$modal-header-padding) auto;
  }
}

// Tags

$foundation-tag-theme: (
  background: #F1C40F,
  background-focused: darken(#F1C40F, 10%),
  background-active: #F1C40F,
  background-hover: #F1C40F,
  color: #fff,
  color-hover: #fff,
  border-radius: 4px,
  font-size:  13px,
  line-height: 32px
);
$foundation-theme: (
    background: transparent,
);
$foundation-icon-theme: (
  display: none
);

// apply theme to the tags
.ng2-tag-input.foundation-theme tag {
  @include tag-theme($foundation-tag-theme);
}

.ng2-tag-input.foundation-theme tag delete-icon {
  @include icon-theme($foundation-icon-theme);
}

.ng2-tag-input.foundation-theme {
  @include tag-input-theme($foundation-theme);
}

// Title text within header
.modal-title {
  margin-bottom: 0;
  line-height: $modal-title-line-height;
}

@mixin loader{
  background-image: url($assets-img + "loading.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  animation:  loading-animation 1s infinite linear;
  display: none;
}

@keyframes loading-animation{
  from{ transfrom: rotate(0deg); }
  to{ transform: rotate(360deg); }
}

.inputLoader{
  @include loader;
  width: 16px;
  height: 16px;
  float: right;
  margin-top: -26px;
  margin-right: 10px; 
}

.debug{
  position: absolute;
  top: 10vh;
  left: 10vw;
  min-width: 320px;
  background-color: #F4F4F4;
  color: #5C5C5C; 
}

.blur{
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  background-color: #F4F4F4;
}

.info{
  font-size: 13px;
}

.splitter{
  background-color: #fff;
  padding: 2px;
  position: relative;
  z-index: 1;
  &::before{
    content: "";
    border-bottom: 1px solid #d6d6d6;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  &>p{
    margin-left: 50%;
    transform: translate(-50%);
    background: #fff;
    overflow: hidden;
    width: 20px;
  }
}

.btn-xs{
  display: inline-block;
  padding: .25rem .5rem;
  color: #A1AAAE;
  font-size: .625rem !important;
  line-height: 1.5 !important;
  font-weight: 800;
  text-transform: uppercase !important;
  letter-spacing: 0.05rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none !important;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:hover{
    cursor: pointer;
    color: #5C5C5C;
  }
}

.form-control{
  border-radius: 1.2rem;
}

.btn{
  border-radius: 1.2rem;
}

.btn-primary{
  background-color: $gray-800;
  border-color: $gray-800;
}

.off-screen{
  position: absolute;
  top: -100vh;
  left: -100vw;
}

.no-scroll{
  overflow: hidden;
}