.form-group{ margin-bottom: 0px; }

input[name="search"]{
  font-weight: 600;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 0.20;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    opacity: 0.20;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    opacity: 0.20;
  }
  &:-moz-placeholder { /* Firefox 18- */
    opacity: 0.20;
  }
}
