#avatar-upload-btn, #avatar-random-btn{
  color: #199ED8;
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1rem;
  &:hover{
    color: darken(#199ED8, 10%);
  }
}

.avatar-wrapper{
  img{
    width: 100%;
    max-width: 100px;
    max-height: 100px;
    margin:auto;
    display: block;
  }
}

.heading{
  color: #999;
  text-transform: uppercase;
  font-weight: bold;
}
.tabs{
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  .tab{
    font-weight: bold;
    width: 50%;
    text-align: center;
    border-bottom: 2px solid transparent;
    transition: 0.1s ease-in-out;
    &:hover{ 
      color: #FF7A22;
    }
    &.active{
      border-color: #FF954E;
      color: #FF954E;
      &:hover{ color: #FF7A22; border-color: #FF7A22;}
    }
  }
}