<h6 class="heading">Settings</h6>

<div class="tabs my-4">
  <h5 class="tab pb-3" [ngClass]="{active: section == 'profile' ? true : false}" (click)="activeSection('profile')">Profile</h5>
  <h5 class="tab pb-3" [ngClass]="{active: section == 'account' ? true : false}" (click)="activeSection('account')">Account</h5>
</div>
<div class="d-flex justify-content-center"  *ngIf="!user">
  <img width="100%" style="max-width: 100px;" src="./assets/icons/rolling-loader.svg" alt="loading" />
</div>
<div *ngIf="section == 'account';then accountSection else profileSection ">

</div>

<ng-template #profileSection>
  <div class="row" *ngIf="user">
    <div class="col-12 col-sm-4 col-md-2 avatar-wrapper">
      <img class="rounded" [src]="user.avatar" width="100%" #avatarFrame />
      <div id="avatar-random-btn" (click)="getRandomImage()">Random</div>
      <div id="avatar-upload-btn" (click)="openUploadFile()">Upload</div>
    </div>
    <form class="col-12 col-sm-8 col-md-10" [formGroup]="profileForm" (ngSubmit)="profileFormSubmit()">
      <div class="form-group">
        <label>Display Name</label>
        <input class="form-control" formControlName="displayName"/>
        <div class="text-danger" *ngIf="profileForm.controls.displayName.touched"> 
          <div *ngIf="profileForm.controls.displayName.errors?.required">Display Name is required</div>
          <div *ngIf="profileForm.controls.displayName.errors?.minlength">Display name should be atleast 3 characters long</div>
        </div>
      </div>
      <div class="form-group">
        <label>About you</label>
        <textarea class="form-control" rows="3" formControlName="about" placeholder="Tell people something about you..."></textarea>
      </div>
      <div class="form-group">
        <label>Gender</label>
        <select class="form-control" formControlName="gender">
          <option value="undefined" >Unspecified</option>
          <option value="1" >Male</option>
          <option value="0" >Female</option>
        </select>
      </div>
      <div class="form-group">
        <label>Date of Birth</label>
        <div class="input-group">
          <input 
            class="form-control" 
            placeholder="yyyy-mm-dd"
            name="dp"  
            formControlName="dob" 
            ngbDatepicker
            [startDate]="{day:1, month: 1, year: 1995}"
            [maxDate]="minAge" 
            [minDate]="{year: 1901, day: 01, month: 01}"
            #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <img src="./assets/icons/calendar.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Country</label>
        <select class="form-control" formControlName="country">
          <option value="undefined">Select</option>
          <option value="Afghanistan">Afghanistan</option>
          <option value="Albania">Albania</option>
          <option value="Algeria">Algeria</option>
          <option value="Andorra">Andorra</option>
          <option value="Angola">Angola</option>
          <option value="Antigua & Deps">Antigua & Deps</option>
          <option value="Argentina">Argentina</option>
          <option value="Armenia">Armenia</option>
          <option value="Australia">Australia</option>
          <option value="Austria">Austria</option>
          <option value="Azerbaijan">Azerbaijan</option>
          <option value="Bahamas">Bahamas</option>
          <option value="Bahrain">Bahrain</option>
          <option value="Bangladesh">Bangladesh</option>
          <option value="Barbados">Barbados</option>
          <option value="Belarus">Belarus</option>
          <option value="Belgium">Belgium</option>
          <option value="Belize">Belize</option>
          <option value="Benin">Benin</option>
          <option value="Bhutan">Bhutan</option>
          <option value="Bolivia">Bolivia</option>
          <option value="Bosnia Herzegovina">Bosnia Herzegovina</option>
          <option value="Botswana">Botswana</option>
          <option value="Brazil">Brazil</option>
          <option value="Brunei">Brunei</option>
          <option value="Bulgaria">Bulgaria</option>
          <option value="Burkina">Burkina</option>
          <option value="Burundi">Burundi</option>
          <option value="Cambodia">Cambodia</option>
          <option value="Cameroon">Cameroon</option>
          <option value="Canada">Canada</option>
          <option value="Cape Verde">Cape Verde</option>
          <option value="Central African Rep">Central African Rep</option>
          <option value="Chad">Chad</option>
          <option value="Chile">Chile</option>
          <option value="China">China</option>
          <option value="Colombia">Colombia</option>
          <option value="Comoros">Comoros</option>
          <option value="Congo">Congo</option>
          <option value="Congo">Congo</option>
          <option value="Costa Rica">Costa Rica</option>
          <option value="Croatia">Croatia</option>
          <option value="Cuba">Cuba</option>
          <option value="Cyprus">Cyprus</option>
          <option value="Czech Republic">Czech Republic</option>
          <option value="Denmark">Denmark</option>
          <option value="Djibouti">Djibouti</option>
          <option value="Dominica">Dominica</option>
          <option value="Dominican Republic">Dominican Republic</option>
          <option value="East Timor">East Timor</option>
          <option value="Ecuador">Ecuador</option>
          <option value="Egypt">Egypt</option>
          <option value="El Salvador">El Salvador</option>
          <option value="Equatorial Guinea">Equatorial Guinea</option>
          <option value="Eritrea">Eritrea</option>
          <option value="Estonia">Estonia</option>
          <option value="Ethiopia">Ethiopia</option>
          <option value="Fiji">Fiji</option>
          <option value="Finland">Finland</option>
          <option value="France">France</option>
          <option value="Gabon">Gabon</option>
          <option value="Gambia">Gambia</option>
          <option value="Georgia">Georgia</option>
          <option value="Germany">Germany</option>
          <option value="Ghana">Ghana</option>
          <option value="Greece">Greece</option>
          <option value="Grenada">Grenada</option>
          <option value="Guatemala">Guatemala</option>
          <option value="Guinea">Guinea</option>
          <option value="Guinea-Bissau">Guinea-Bissau</option>
          <option value="Guyana">Guyana</option>
          <option value="Haiti">Haiti</option>
          <option value="Honduras">Honduras</option>
          <option value="Hungary">Hungary</option>
          <option value="Iceland">Iceland</option>
          <option value="India">India</option>
          <option value="Indonesia">Indonesia</option>
          <option value="Iran">Iran</option>
          <option value="Iraq">Iraq</option>
          <option value="Ireland">Ireland</option>
          <option value="Israel">Israel</option>
          <option value="Italy">Italy</option>
          <option value="Ivory Coast">Ivory Coast</option>
          <option value="Jamaica">Jamaica</option>
          <option value="Japan">Japan</option>
          <option value="Jordan">Jordan</option>
          <option value="Kazakhstan">Kazakhstan</option>
          <option value="Kenya">Kenya</option>
          <option value="Kiribati">Kiribati</option>
          <option value="Korea North">Korea North</option>
          <option value="Korea South">Korea South</option>
          <option value="Kosovo">Kosovo</option>
          <option value="Kuwait">Kuwait</option>
          <option value="Kyrgyzstan">Kyrgyzstan</option>
          <option value="Laos">Laos</option>
          <option value="Latvia">Latvia</option>
          <option value="Lebanon">Lebanon</option>
          <option value="Lesotho">Lesotho</option>
          <option value="Liberia">Liberia</option>
          <option value="Libya">Libya</option>
          <option value="Liechtenstein">Liechtenstein</option>
          <option value="Lithuania">Lithuania</option>
          <option value="Luxembourg">Luxembourg</option>
          <option value="Macedonia">Macedonia</option>
          <option value="Madagascar">Madagascar</option>
          <option value="Malawi">Malawi</option>
          <option value="Malaysia">Malaysia</option>
          <option value="Maldives">Maldives</option>
          <option value="Mali">Mali</option>
          <option value="Malta">Malta</option>
          <option value="Marshall Islands">Marshall Islands</option>
          <option value="Mauritania">Mauritania</option>
          <option value="Mauritius">Mauritius</option>
          <option value="Mexico">Mexico</option>
          <option value="Micronesia">Micronesia</option>
          <option value="Moldova">Moldova</option>
          <option value="Monaco">Monaco</option>
          <option value="Mongolia">Mongolia</option>
          <option value="Montenegro">Montenegro</option>
          <option value="Morocco">Morocco</option>
          <option value="Mozambique">Mozambique</option>
          <option value="Namibia">Namibia</option>
          <option value="Nauru">Nauru</option>
          <option value="Nepal">Nepal</option>
          <option value="Netherlands">Netherlands</option>
          <option value="New Zealand">New Zealand</option>
          <option value="Nicaragua">Nicaragua</option>
          <option value="Niger">Niger</option>
          <option value="Nigeria">Nigeria</option>
          <option value="Norway">Norway</option>
          <option value="Oman">Oman</option>
          <option value="Pakistan">Pakistan</option>
          <option value="Palau">Palau</option>
          <option value="Panama">Panama</option>
          <option value="Papua New Guinea">Papua New Guinea</option>
          <option value="Paraguay">Paraguay</option>
          <option value="Peru">Peru</option>
          <option value="Philippines">Philippines</option>
          <option value="Poland">Poland</option>
          <option value="Portugal">Portugal</option>
          <option value="Qatar">Qatar</option>
          <option value="Romania">Romania</option>
          <option value="Russian Federation">Russian Federation</option>
          <option value="Rwanda">Rwanda</option>
          <option value="St Kitts & Nevis">St Kitts & Nevis</option>
          <option value="St Lucia">St Lucia</option>
          <option value="Saint Vincent & the Grenadines">Saint Vincent & the Grenadines</option>
          <option value="Samoa">Samoa</option>
          <option value="San Marino">San Marino</option>
          <option value="Sao Tome & Principe">Sao Tome & Principe</option>
          <option value="Saudi Arabia">Saudi Arabia</option>
          <option value="Senegal">Senegal</option>
          <option value="Serbia">Serbia</option>
          <option value="Seychelles">Seychelles</option>
          <option value="Sierra Leone">Sierra Leone</option>
          <option value="Singapore">Singapore</option>
          <option value="Slovakia">Slovakia</option>
          <option value="Slovenia">Slovenia</option>
          <option value="Solomon Islands">Solomon Islands</option>
          <option value="Somalia">Somalia</option>
          <option value="South Africa">South Africa</option>
          <option value="South Sudan">South Sudan</option>
          <option value="Spain">Spain</option>
          <option value="Sri Lanka">Sri Lanka</option>
          <option value="Sudan">Sudan</option>
          <option value="Suriname">Suriname</option>
          <option value="Swaziland">Swaziland</option>
          <option value="Sweden">Sweden</option>
          <option value="Switzerland">Switzerland</option>
          <option value="Syria">Syria</option>
          <option value="Taiwan">Taiwan</option>
          <option value="Tajikistan">Tajikistan</option>
          <option value="Tanzania">Tanzania</option>
          <option value="Thailand">Thailand</option>
          <option value="Togo">Togo</option>
          <option value="Tonga">Tonga</option>
          <option value="Trinidad & Tobago">Trinidad & Tobago</option>
          <option value="Tunisia">Tunisia</option>
          <option value="Turkey">Turkey</option>
          <option value="Turkmenistan">Turkmenistan</option>
          <option value="Tuvalu">Tuvalu</option>
          <option value="Uganda">Uganda</option>
          <option value="Ukraine">Ukraine</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Kingdom">United Kingdom</option>
          <option value="United States">United States</option>
          <option value="Uruguay">Uruguay</option>
          <option value="Uzbekistan">Uzbekistan</option>
          <option value="Vanuatu">Vanuatu</option>
          <option value="Vatican City">Vatican City</option>
          <option value="Venezuela">Venezuela</option>
          <option value="Vietnam">Vietnam</option>
          <option value="Yemen">Yemen</option>
          <option value="Zambia">Zambia</option>
          <option value="Zimbabwe">Zimbabwe</option>
        </select>
      </div>
      <input 
        type="file" 
        fileControlName="avatarFile"
        (change)="onchange()" 
        accept="image/png, image/jpg, image/jpeg, image/x-png"
        style="position: absolute; top: -100vh; left: -100vw;" 
        #fileInput />
      <button class="btn btn-primary" [disabled]="profileForm.status == 'INVALID'">Save</button>
    </form>
  </div>
</ng-template>

<ng-template #accountSection>
  <form [formGroup]="accountForm" (ngSubmit)="accountFormSubmit()">
    <div class="form-group">
      <label>Full Name</label>
      <input class="form-control" formControlName="name" type="text"/>
      <div class="text-danger" *ngIf="accountForm.controls.name.touched"> 
        <div *ngIf="accountForm.controls.name.errors?.required">Full name is required</div>
        <div *ngIf="accountForm.controls.name.errors?.minlength">Name should be atleast 3 characters long</div>
      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input class="form-control" formControlName="email" type="email"/>
      <div class="text-danger" *ngIf="accountForm.controls.email.touched"> 
        <div *ngIf="accountForm.controls.email.errors?.required">Email is required</div>
        <div *ngIf="accountForm.controls.email.errors?.email">Not a valid email</div>
      </div>
    </div>
    <div *ngIf="user.account_type != config.ACCOUNT_TYPE_FB && user.account_type != config.ACCOUNT_TYPE_GOOG">
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" formControlName="password" placeholder="Password" type="password"/>
      </div>
      <div class="form-group">
        <label>New Password</label>
        <input class="form-control" formControlName="newPassword" placeholder="Enter a new password to change" type="password"/>
        <div class="text-danger" *ngIf="accountForm.controls.newPassword.touched"> 
          <div *ngIf="accountForm.controls.newPassword.errors?.minlength">Password should be atleast 6 characters long</div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" [disabled]="accountForm.status == 'INVALID'">Save</button>
  </form>
</ng-template>